# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

# VS Code
.vscode/

# OS specific
.DS_Store
Thumbs.db

# Dataset folders (large files)
train/
valid/
test/

# Virtual Environment (specific to your project)
cowclassifier/

# Model checkpoints
# *.pth
# *.pt
# *.pkl
